.mat-card-simples {
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.mat-card-principal {
  background-color: lightblue;
}

.mat-form-principal {
  margin-left: 5px;
}

.botao {
  text-align: center;
}
